/* General styles for the body and page */
body {
    font-family: Verdana, sans-serif;
    margin-top: 0;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #830d0d;
}

/* Header styling */
.header {
    background: #ff0000;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.left-logo, .right-logo {
    position: absolute;
    top: 8px;
    height: 60px;
}

.left-logo {
    left: 10px;
}

.right-logo {
    right: 10px;
}

.header h1 {
    margin: 0;
    font-size: 1.25em;
}

/* Navigation styling */
nav {
    background-color: #ff0000;
    overflow: hidden;
    text-align: center; /* Center the content horizontally */
}


nav li {
    float: none; /* Remove float */
    display: inline-block; /* Display list items inline */
}

nav li a {
    font-size: 0.75em;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 30px;
    text-decoration: none;
}

/* Responsive Design */
@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
    }
}

nav li a:hover {
    color: #000000;
    background-color: #ffffff !important;
}

/* Home section styling */
.two-column-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-image: url('mnt_data_image.png'); 
    background-size: cover; 
    background-position: center; 
    color: #000000; 
}

.image-column {
    flex: 1;
    padding: 10px;
}

.text-column {
    flex: 1;
    font-size: 1.0em;
    margin-top: none;
    padding: 50px;
}


.text-column span {
    font-size: 1.5em;
}

/* Set a maximum width for the image column to prevent the picture from being too large */
.image-column {
    max-width: 350px; /* Adjust the value as needed */
    margin: auto; /* Center the image column */
}

.profile-picture {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover; /* Ensure the image maintains its aspect ratio */
}

/* About section styling */
.unique-about-section {
    background-color: #f9f9f9;
}

.unique-about-section h1, span {
    font-size: 0.75em;
    text-align: left !important;
    padding: 0px;
    margin-top: 7px;
}

.unique-about-section h1 {
    text-align: center !important;
    margin-bottom: 10px; /* Adjust the margin bottom as needed */
}

.unique-about-section hr {
    margin: 10px auto;
    border: none; /* Remove the default border */
    height: 2px; /* Set the desired height */
    width: 30%; /* Set the desired width (adjust as needed) */
    background: linear-gradient(to right, red, #b2beb5, rgb(144, 228, 144)); /* Apply the gradient */
    border-radius: 2px;
}

/*Boxes styling*/
.content-box {
    display: flex;
    justify-content: flex-start; /* Ensure equal spacing between boxes */
    max-width: 70%; /* Adjust the width to create space on the right */
    margin: 0 auto;
}

.box {
    flex: 0 0 calc(30% - 20px); /* Adjust the flex basis for smaller boxes */
    max-width: calc(30% - 20px); /* Adjust the maximum width */
    padding: 15px;
    margin: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(161, 6, 6, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateY(-10px);
}

.box .icon img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.box h3 {
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
}

.box hr {
    margin: 10px 0;
    border: none; /* Remove the default border */
    height: 1px; /* Set the desired height */
    background: linear-gradient(to right, rgb(0, 0, 0), #000000, rgb(0, 0, 0)); /* Apply the gradient */
}

.box p {
    text-align: justify;
    font-size: 16px;
    color: #000000;
}

/* Media Query for Responsive Layout */
@media (max-width: 768px) {
    .box {
        flex: 0 0 calc(45% - 20px); /* Adjust width for smaller screens */
        max-width: calc(45% - 20px); /* Adjust maximum width */
    }
}

@media (max-width: 576px) {
    .box {
        flex: 0 0 calc(100% - 20px); /* Full width for very small screens */
        max-width: calc(100% - 20px); /* Adjust maximum width */
    }
}

/* Text content styling for read more functionality */
.text-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.read-more {
    color: #ffffff;
    font-size: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 4px 9px;
    border-radius: 10px; /* Adjusted to create a more subtle rounding for a boxy look */
    background-color: #ff0000;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgb(255, 0, 0);
}

.read-more:hover {
    background-color: #e60000;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


/* Modal styling */

.modal.show {
    display: block;
    opacity: 1;
}

.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
    animation: slide-in 0.5s ease-out;
    background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Gradient background */
    color: #333;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-content h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #ffffff;
}

.modal-content p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #ffffff;
}

.content-box img {
    max-width: 100%;
    height: auto;
}

/* Smooth scroll for overflow */
.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-track {
    background: #50ac05;
    border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #ac0707;
    border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* General Modal Styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    animation: fadeIn 0.5s;
}

    @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
    }
    
    @keyframes slideIn {
    from {transform: translateY(-50px);}
    to {transform: translateY(0);}
    }

/* General styling for sections */
.coming-soon-section {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 20px;
}

.section-header h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.coming-soon-message h2 {
    font-size: 24px;
    color: #666;
}
